@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 27 70% 98%;
    --foreground: 27 79% 3%;
    --muted: 27 15% 94%;
    --muted-foreground: 27 10% 35%;
    --popover: 27 70% 97%;
    --popover-foreground: 27 79% 2%;
    --card: 27 37.62% 93.83%;
    --card-foreground: 27 79% 2%;
    --border: 27 6% 92%;
    --input: 27 6% 92%;
    --primary: 27 100% 63%;
    --primary-foreground: 27 0% 100%;
    --secondary: 27 19% 84%;
    --secondary-foreground: 27 19% 24%;
    --accent: 27 19% 84%;
    --accent-foreground: 27 19% 24%;
    --destructive: 5 92% 36%;
    --destructive-foreground: 5 92% 96%;
    --ring: 27 100% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 27 31.03% 4.7%;
    --foreground: 27 16% 97%;
    --muted: 27 15% 6%;
    --muted-foreground: 27 10% 65%;
    --popover: 27 45% 2%;
    --popover-foreground: 27 16% 98%;
    --card: 27 45% 2%;
    --card-foreground: 27 16% 98%;
    --border: 27 6% 12%;
    --input: 27 6% 12%;
    --primary: 27 100% 63%;
    --primary-foreground: 27 0% 100%;
    --secondary: 27 8% 13%;
    --secondary-foreground: 27 8% 73%;
    --accent: 27 8% 13%;
    --accent-foreground: 27 8% 73%;
    --destructive: 5 92% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 27 100% 63%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}